<div class="container" style="width: auto; min-height: 48vh ;">
  <div class="row align-items-start">
    <div class="col" style="">
      <div class="row">
        <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="../../assets/ebony.jpg" width="90"><span class="font-weight-bold">John Doe</span><span class="text-black-50">john_doe12@bbb.com</span><span>United States</span></div>
      </div>
      </div>
    </div>
<div class="col">
      Lorem ipsum dolor sit amet, mea no fabulas pericula. Porro menandri vel ne. Te quo paulo tollit sapientem, saperet appareat assentior mea et, ne vix iracundia efficiendi. Ei rebum fabulas maiestatis vim, id partem eripuit delicata quo.

Mel eu unum adipiscing mediocritatem, eum in quot menandri interesset. Eleifend corrumpit elaboraret ius ex. Eos liberavisse necessitatibus eu, graeci nominati ne nec. Ex sonet interesset pro. Et sea adhuc erant partiendo.

An nec tamquam inermis reprehendunt, ius an case dolorem. Oportere persecuti eu mel, ius cu ubique efficiendi, laoreet ocurreret nam ne. Nam dolor graecis oportere ad, te ridens virtute sit, eu summo consectetuer his. Libris verear discere ea mei. Ea unum nostrud accusam mea, sit novum molestie ne. His ex movet simul, mea lucilius intellegat ad.

In enim commune nam, ne dolor vulputate persequeris mea. Cu purto tollit argumentum sed, no cum dolor eruditi labores, facer euripidis cum in. Minim clita theophrastus nec no. Cum no cetero concludaturque. Mazim vitae perpetua has ut. Vocibus recteque id nec, ea stet admodum splendide pro, viris omittam ius an. Ea mel augue salutatus elaboraret.

His ad dicat liber nusquam, in ius odio oportere praesent. Mundi assentior in eum. Nisl disputando at cum. Putent essent detracto duo eu, eum vidisse consetetur definitiones eu, nam cu assum vitae prodesset. Has propriae molestie sensibus eu. Ei audire deleniti ius.
  </div>
</div>
</div>
