<div class="container">
  <header>A Desta Solution </header>
  <div class="row">
  <img src="../../assets/home-model.png"  class=" rounded mx-auto d-block w-100">
</div>
<div class="row">
  <img src="../../assets/title.png" class=" rounded mx-auto d-block w-100">
</div>
<div class="row">
  <button type="button" style="color: white;" class="btn btn-warning h5" routerLink="/directory">Discover businesses nearby ! <span><img src="../../assets/arrow-right-circle.png"></span></button>

</div>
<div class="row">
  <p class="h3">A one-stop web app that allows businesses to promote their content to customers while connecting with others </p>
</div>
</div>

